/* SquareCarousel.css */

.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-content {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  /* flex: 0 0 100%; */
  /* width: 250px;
  margin-right: 50px; */
}

.active {
  opacity: 1;
}

.carousel-button {
  position: absolute;
  top: calc((100% - 1em)/2);
  transform: translateY(-50%);
  background: transparent;
  border: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
  /* height: calc(100% - 1rem); */
  /* width: 50%; */
  height: 100%;
  display: flex;
  align-items: center;
}

.left {
  left: 0;
  justify-content: start;
}

.right {
  right: 0;
  justify-content: end;
}

.carousel-button:hover {
  background: rgba(0, 0, 0, 0.03);
}

.event-carousel-button.mobile:hover {
  background-color: transparent;
}

.carousel-content {
  display: flex;
  width: 100%;
}
