.new-event-form {
  width: 80%;
  padding-top: 15px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.btn-publish {
  width: 100%;
  background-color: var(--color-contrast) !important;
  border: 1px solid var(--color-contrast-2) !important;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.btn-publish:hover {
  background-color: var(--color-contrast-2) !important;
}

.placeholder-option {
  color: #6c757d;
}

.form-control-custom {
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.new-event-protector .form-select {
  width: 76%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  height: 38px;
}

.row {
  display: flex;
  width: 100%;
}

.row .col-form-label {
  width: 24%;
  align-self: center;
}

.col-sm-10, .col-sm {
  width: calc(100% - 1.5em);
}

input[type="text"] {
  border: 1px solid #ced4da;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  width: calc(100% - 1.6em);
}

textarea {
  width: 100%;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  font-size: 1rem;
  line-height: 1.5;
  padding: 0.375rem 0.75rem;
}

.mb-1 {
  margin-bottom: .2rem;
}

.event-date {
  display: contents;
}